<!-- Card -->
<div class="card card-image mb-3" style="background-image: url(http://intrewallpaper.com/wp-content/uploads/Tokyo-City-Wallpaper.jpg);">
  
      <!-- Content -->
      <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
              <h5 class="pink-text"><i class="fa fa-pie-chart"></i> Interview Test</h5>
              <h3 class="card-title pt-2"><strong>API Authentication</strong></h3>
              <p>Things are starting to pick up in our understanding of APIs. We know who the client and server are, we know they use HTTP to talk to each other, and we know they speak in specific data formats to understand each other.</p>
              <a class="btn btn-pink"><i class="fa fa-user"></i> Fahmy Izzuddin</a>
          </div>
      </div>
   
      <div class="row">
        <div class="col-lg-4">
        </div>

        <div class="col-lg-4">

        <div class="card">
          <div class="card-body">
          <!-- Default form subscription -->
          
          <form>
              <p class="h4 text-center mb-4">Sign In</p>

              <!-- Default input name -->
              <label for="defaultFormSubscriptionNameEx" class="grey-text">Your email</label>
              <input type="text" [(ngModel)]="user.email" name="email" class="form-control">

              <br>

              <!-- Default input email -->
              <label for="defaultFormSubscriptionEmailEx" class="grey-text">Your password</label>
              <input type="password" [(ngModel)]="user.password" name="password" class="form-control">

              <div class="text-center mt-4">
                  <button class="btn btn-outline-purple" type="submit" (click)="login()">Submit<i class="fa fa-paper-plane-o ml-2"></i></button>
              </div>
            </form>
          <!-- Default form subscription -->
          </div>
        </div>
        
        </div>


        <div class="col-lg-4">
        </div>

    </div>   


  </div>
  <!-- Card -->