<!--Main Navigation-->
<header>
  
      <nav class="navbar navbar-expand-lg navbar-dark default-color">
          <a class="navbar-brand" href="#"><strong>API Testing</strong></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Features</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Pricing</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Opinions</a>
                  </li>
              </ul>
              <ul class="navbar-nav nav-flex-icons">
                  <li class="nav-item">
                      <a class="nav-link"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link"><i class="fa fa-instagram"></i></a>
                  </li>
              </ul>
          </div>
      </nav>
  </header>
  <!--Main Navigation-->

  <div class="row">
      <div class="col-lg-6">
        <div *ngIf="chart">
            <canvas id="canvas">{{ chart }}</canvas>
          </div>
      </div>

      <div class="col-lg-6">
        <div *ngIf="chart">
            <canvas id="canvas">{{ chart }}</canvas>
        </div>
      </div>
  </div>
  
  <!--Table-->
<table class="table">
    
        <!--Table head-->
        <thead class="blue-grey lighten-4">
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
            </tr>
        </thead>
        <!--Table head-->
    
        <!--Table body-->
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
        <!--Table body-->
    
    </table>
    <!--Table-->
    
    <!--Table-->
    <table class="table">
    
        <!--Table head-->
        <thead class="mdb-color darken-3">
            <tr class="text-white">
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
            </tr>
        </thead>
        <!--Table head-->
    
        <!--Table body-->
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
        <!--Table body-->
    
    </table>
    <!--Table-->